body {
    font-family: Arial, sans-serif;
    background-color: #949494;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

#auth-container {
    background-color: #dbdbdb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
    justify-content: center; /* Центрируем формы по вертикали */
}

.auth-form input {
    padding: 10px;
    border: 1px solid #f8f8f8;
    border-radius: 5px;
    font-size: 14px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #646464;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}

button:hover {
    background-color: #222222;
}

.hidden {
    display: none;
}
